body {
  font-family: sans-serif;
  padding: 20px;
  background: #f2f2f2;
}

.galeria{

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 1em;

}

.item__galeria{
  position: relative;
}
.item__galeria img{
  width: 100%;
  height: 100%;

}
.titulo__item{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(88, 24, 90, 0.7);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .6s;
}

.item__galeria:hover .titulo__item{
  opacity: 2;
}
